

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 25px;
    background: #111111; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 25px; /* Round corners of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  